.with-validation {
  position: relative;
}

.list-group-item .actions {
  visibility: hidden;
}

.list-group-item:hover .actions {
  visibility: visible;
}

.actions {
  position: absolute;
  right: 0;
  width: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.id {
  display: none;
}

i {
  cursor: pointer;
}